
label {
    font-weight: 700;
}

.form-group.required > label:after {
    content: " *";
    color: red;
}

.form-group {
    margin-bottom: 1rem;
}

.invalid-feedback {
    display: block;
}

.form-check {
    cursor: pointer;
}

.form-check > * {
    cursor: pointer;
}

.iti {
    display: block !important;
}

.input-group-append {
    position: relative;
    margin-left: -1px;
    display: flex;
}

.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}