
label {
    font-weight: 700;
}

.form-group.required > label:after {
    content: " *";
    color: red;
}

.form-group {
    margin-bottom: 1rem;
}

.invalid-feedback {
    display: block;
}

.form-check {
    cursor: pointer;
}

.form-check > * {
    cursor: pointer;
}

.iti {
    display: block !important;
}

.input-group-append {
    position: relative;
    margin-left: -1px;
    display: flex;
}

.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader {
    position: relative;
}

.loader-content {
    position: relative;
    width: 12px;
    height: 12px;
    border: .15em solid currentcolor;
    border-bottom-color: transparent;
    border-radius: 50%;
    color: #000;
    vertical-align: middle;
    pointer-events: none;
    animation: 1s loader linear infinite;
    display: inline-block;
}